<div style="padding: 0% 17%">
<h1 style="padding-left: 2%; margin-bottom: 10px;"> <%= @user.full_name %> </h1>
<p style="padding-left: 2%; margin: 0px 0px;">Email: <%= @user.email %></p>

	<div style="width: 100%; margin: auto;">
		<% if @question != nil %> 
		<h2 style="padding-left: 2%">Questions</h2>
			<% @question.order('created_at DESC').each do |x| %>
				<table class="table">
					<thead class="box-header">
						<th colspan="2"><a href="/questions/<%=x.id%>"><%= x.question %></a>
						</th>
						<th> 
							<% if x.user.id == session[:id] %>
							<form action="/questions/<%=x.id%>/delete" method="post" style="text-align: right">
								<span><input class="button-red" type="submit" value="Delete"></span>
							</form>
							<% end %>
						</th>
					</thead>
					<tbody>
						<tr>
							<td style="color: grey">Responses: <%= x.answers.count %></td>
							<td style="color: grey; text-align: right" colspan="2"><a href="/users/<%=x.user.id%>" style="color: grey"><%= x.user.full_name %> - </a>
							<span class='question-created-at'><%= x.created_at.iso8601 %></span></td>
						</tr>
					</tbody>
				</table><br>
			<% end %>
		<% end %>
	</div>

	<div style="width: 100%; margin: auto;">
		<% if @answer != nil %> 
		<h2 style="padding-left: 2%">Answers</h2>
			<% @answer.order('created_at DESC').each do |x| %>
				<table class="table">
					<thead class="box-header">
						<th colspan="2"><%= x.answer %>
						</th>
						<th> 
							<% if x.user.id == session[:id] %>
							<form action="/answers/<%=x.id%>/delete" method="post" style="text-align: right">
								<span><input class="button-red" type="submit" value="Delete"></span>
							</form>
							<% end %>
						</th>
					</thead>
					<tbody>
						<tr>
							<td style="color: grey"><a href="/questions/<%=x.question.id%>"><%= x.question.question %></a></td>
							<td style="color: grey; text-align: right" colspan="2"><a href="/users/<%=x.question.user.id%>">By: <%= x.question.user.full_name %></a>
							<span class='question-created-at'><%= x.created_at.iso8601 %></span></td>
						</tr>
					</tbody>
				</table><br>
			<% end %>
		<% end %>
	</div>

	<% if session[:id] == @user.id %>
		<form action="/users/<%=session[:id]%>/delete" method="post" style="text-align: right">
			<span><input class="button-red" type="submit" value="Delete Account"></span>
		</form>
	<% end %>
