<html>
	<head>

	</head>

		<% if @question != nil %> 
				<% @question.order('created_at DESC').each do |x| %>
					<div class="box">
						<div class="box-header">
						<a href="/questions/<%=x.id%>"><%= x.question %></a>
						</div>
						<div class="box-inner">
						<!-- 	<%#= @answer.find_by(question: x.id).each do |y| %>
								<%#= y.answer %>
							<%# end %> -->
							<div class="box-footer" style="display:inline">
							User: <a href="/users/<%=x.user.id%>" stytle="margin:left"><%= x.user.full_name %></a>
							<div style="text-align:right"><%= x.created_at %></div>
							</div>
						</div>
					</div><br>
				<% end %>
		<% end %>
		