<div class='question-table' style="width: 70%; margin: auto;">
	<% @question.order('created_at DESC').each do |x| %>
		<table class="table">
			<thead class="box-header">
				<th colspan="2"><a href="/questions/<%=x.id%>"><%= x.question %></a>
				</th>
			</thead>
			<tbody>
				<tr>
					<td style="color: grey">Responses: <%= x.answers.count %></td>
					<td style="color: grey; text-align: right"><a href="/users/<%=x.user.id%>" style="color: grey"><%= x.user.full_name %> - </a>
					<span class='question-created-at'><%= x.created_at.iso8601 %></span></td>
				</tr>
			</tbody>
		</table><br>
	<% end %>
</div>

